node_modules
.pnpm-store
coverage
dist
build
.gradle
.vscode
.idea
out
.cache
.parcel-cache
logs
tmp
temp
*.log
*.pem
*.key
*.crt
*.cer
*.p12
*.pfx
*.jks
*.keystore
*.mobileprovision
.env
.env.*
**/secrets/**
**/certs/**
**/keys/**
**/credentials/**
